<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
    <h1>Account</h1>
    <p>Account Name: {{account.name}}</p>
    <p>Account Name: {{account.account}}</p>
    <p>
        <a href="{{ url_for('welcome')}}">Home</a>
        <button>
        {% if index < max_index %}
            <a href="{{ url_for('account', index=index + 1)}}"> Next account
            </a>
        {% else %}
            <a href="{{ url_for('account', index=0)}}"> Start over
            </a>
        {% endif %}
        </button>
    </p>
</body>
</html>